div.home {
      position: static;
      left: 0px;
      top: 340px;
      z-index: 1;
}
img {
    position: static;
    left: 45px;
    top: 0px;
    z-index: 1;
}
  iframe{
    border:0;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    z-index:-1;
    position: absolute;
  }
