img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
embed {
      position:absolute;
      left: 0px;
      top: 0px;
      z-index: -1;
}
input {
      position: absolute;
      left: 0px;
      top: -206px;
      z-index: 1;
}