img {
    position: static;
    left: 100px;
    top: 0px;
    z-index: 1;
}
embed {
      position:absolute;
      left: 0px;
      top: 0px;
      z-index: -1;
}
header {
      position: relative;
      left: -400px;
      top: -206px;
      z-index: 1;
}