
@font-face {
font-family: "Standard";
src: url("https://cdn.glitch.com/de637ebd-bf77-4418-9b4a-48177fd57198%2FStandard-Book.otf?1548162349690");
}


body {
  display: flex;
  flex-direction: column;
  font-family: "Standard";
  line-height: 100%;
    display: flex;
  flex-direction: column;
  min-height: 10vh;
  background-image: linear-gradient(red, yellow);
  
   
}
div {
  color:Black;
  grid-column: span 1;
  padding: 15px;
  text-align: left;
  margin-left: 10vw;
  margin-right:10vw;
  /*background:url(https://hdwallsource.com/img/2016/8/blue-and-red-gradient-wallpaper-58835-60612-hd-wallpapers.jpg);
  height: 100%;*/
  color: #000; /* Fallback for older browsers */
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
 
  
}


@media (min-width: 600px) {
  body {
    display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto 1fr auto;
      /*background: url(https://hdwallsource.com/img/2016/8/blue-and-red-gradient-wallpaper-58835-60612-hd-wallpapers.jpg);
  height: 1000%;
  position: fixed;
  background-size: cover;*/
  }





div {
  color:Black;
  Font-style:italic;
  grid-column: span 1;
  padding: 30px;
  text-align: left;
  margin-left: 10px;
  margin-right:10px;
  background-color: transparent;
  height: 60vh;
 
  
}
}

h1 {
  margin-bottom:10px;
  font-weight: bold;
  font-family:Grotesque MT;
}
img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 10px;
  }
