@font-face {
font-family: "Standard";
src: url("https://cdn.glitch.com/de637ebd-bf77-4418-9b4a-48177fd57198%2FStandard-Book.otf?1548162349690");
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Standard";
  line-height: 100%;
  min-height: 10vh;
  background-image: linear-gradient(#008FFF, orange, #FF3E00, white);
}

nav {
  padding: 30px;
  background-color: #fff;
  color: #000;
  mix-blend-mode: screen;
  border-radius: initial;
  display: grid;
  column-width: 1fr;
}

h2 {
font-family:Grotesque MT;
  font-size: 12pt;
  font-weight: bold;
  text-align:left;
}

  main {
    display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
}

div {
  background-color: #fff;
  
  color: #000;
  mix-blend-mode: screen;
  border-radius: initial;
  font-family: Standard;
  font-size: 12pt;
  margin: 0;
 
  
}

h1 {
  margin-bottom:10px;
  font-weight: bold;
  font-family:Grotesque MT;}

img {
  width: 50%;
  height: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 10px;
  background:white;
  }

