body {
  display: flex;
  flex-direction: column;
  font-family: "Standard";
  line-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  background-image: linear-gradient(#008FFF, orange, #FF3E00, white);
}

nav {
  padding: 30px;
  background-color: #fff;
  color: #000;
  mix-blend-mode: screen;
  border-radius: initial;
  display: grid;
  column-width: 2fr;
}

h2 {
font-family:Grotesque MT;
  font-size: 12pt;
  font-weight: bold;
  text-align:left;
}

