<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="/reset.css" rel="stylesheet">
  <link href="/main.css" rel="stylesheet">
    
  </head>
  <body>
    <div>
      <img
      <p>
        This is a claendar page for January 2020 in estonian.
      </p>
      <p>
        EKA Tallin, 2018
      </p>
    </div>
  </body>
<div>
  {% extends "layout.html" %}
{% block content %}
 </div>
 {% endblock %}
</html>