<!DOCTYPE html>
<html>
<body>
  <img src="https://cdn.glitch.com/731b2b86-97c7-4581-83c3-cb37cd854060%2F%D0%91%D0%B5%D0%B7%D1%8B%D0%BC%D1%8F%D0%BD%D0%BD%D1%8B%D0%B8%CC%86-1.png?1529516329883" alt="Smiley face" height="412" width="180">
  <embed src="https://cdn.glitch.com/731b2b86-97c7-4581-83c3-cb37cd854060%2Fohueligrid.pdf?1529511144910" width="100%" height="940" type="application/pdf">
  {% extends "layout.html" %}
{% block content %}
  <div class="home">
    <h1></h1>
    <p></p>
  </div>
{% endblock %}
</body>
</html>