<html>
 <head>
  <title>
   Vasily Dyakonov's Website
  </title>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
 </head>
 <body>
  <nav>
   <h2>
    Vasily Dyakonov is avaliable for graphic design work
   </h2>
  </nav>
  <main>
   <div class='object_four'> <h1>Critical Poster</h1> </div>
   <div class='object_six'> <h1>WYSIWYG</h1> </div>
   <div class='object_one'> Journal For Raw Visual Data</div>
   <div class='object_seven'> <h1>Digital Unconscious</h1> </div>
   <div class='object_eight'> <h1>Typefaces</h1> </div>
   <div class='object_one'> <h1>Journal For Raw Visual Data</h1> </div>
   <div class='object_two'> <h1>Imposter</h1> </div>
   <div class='object_seven'> <h1>Digital Unconscious</h1> </div>
   <div class='object_eight'> <h1>Typefaces</h1> </div>
   <div class='object_three'> <h1>Interview Magazine</h1> </div>
   <div class='object_five'> <a href='{{ url_for('calendar') }}'><h1>Calendar</h1></a><p></p> </div>
   <div class='object_three'> <h1>Interview Magazine</h1> </div>
   <div class='object_two'> Imposter </div>
  </main>
 </body>
 <p>
  {% extends "layout.html" %}
{% block content %}
 </p>
 {% endblock %}
</html>
