<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
   
  <body>
    <header>
      <div class="container" >
        <h1 class="logo"></h1>
        <nav>
          <ul class="menu">
           
                        <form action="{{ url_for('home') }}">
    <input type="submit" value="Home" style="margin:12px;float:right;text-decoration:none;">
</form>
            <form action="{{ url_for('about') }}">
    <input type="submit" value="About" style="margin:12px;float:right;text-decoration:none;">
</form>
          </ul>
        </nav>
      </div>
    </header>
      <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>