<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
   
  <body>
    <header>
      <div class="container" >
        <h1 class="logo"></h1>
        <nav>
          <ul class="menu">
            <img src="https://cdn.glitch.com/731b2b86-97c7-4581-83c3-cb37cd854060%2F%D0%91%D0%B5%D0%B7%D1%8B%D0%BC%D1%8F%D0%BD%D0%BD%D1%8B%D0%B8%CC%86-1.png?1529522521068" alt="Smiley face" height="412" width="180" style="margin:12px;">
           
                        <form action="{{ url_for('home') }}">
    <input type="submit" value="Home" style="margin:12px;float:right;text-decoration:none;">
</form>
            <form action="{{ url_for('about') }}">
    <input type="submit" value="About" style="margin:12px;float:right;text-decoration:none;">
</form>
          </ul>
        </nav>
      </div>
    </header>
      <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>